[alias]
    a = add
    c = commit -v
    cm = commit -m
    ca = commit --amend
    cp = cherry-pick
    s = status --short -b
    ; d = diff
    d = -c diff.external=difft diff
    ; ds = diff --stat
    ds = -c diff.external=difft diff --stat
    ; dc = diff --cached
    dc = -c diff.external=difft diff --cached
    up = fetch origin master:master
    # From https://github.com/Schnouki/dotfiles/blob/b3db0dea6b7b8d46da8fd707c1067906f7697198/git/config#L11
    upp = !git fetch --prune && git checkout $(git rev-parse --abbrev-ref origin/HEAD | sed -s 's!^origin/!!') && git pull
    dcs = diff --stat --cached
    ai = "!git add $(git status --short | fzf --multi --preview 'git diff -- {2..}' | awk '{print $2}')"
    pai = "!git add -p $(git status --short | fzf --multi --preview 'git diff -- {2..}' | awk '{print $2}')"
    chi = "!git checkout $(git branch | grep -v '^\\*' | fzf)"
    ch = checkout
    b = branch
    l = "!git show $(git log --oneline | fzf --multi --color --preview 'git show {1}' | cut -d ' ' -f 1)"
    ll = log --oneline --decorate
    f = fetch
    p = pull
    nb = checkout -b
    r = "!git restore $(git status --short | fzf --multi --preview 'git diff -- {2..}' | awk '{print $2}')"
    wat = blame

    g = grep --break --heading --line-number
    ups = reset --soft HEAD^
    show-graph = log --graph --abbrev-commit --pretty=oneline
    show-all = log --color=auto --abbrev-commit --graph --pretty=format:\"%h %an @%ar %s\" --all
    show-tags = "log --no-walk --tags --pretty='%h %d %s' --decorate=full"

    sa = "!git stash apply $(git stash list | fzf --preview 'git stash show $(echo {} | cut -f1 -d:)' | cut -f1 -d:)"
    sp = "!git stash pop   $(git stash list | fzf --preview 'git stash show $(echo {} | cut -f1 -d:)' | cut -f1 -d:)"

    verbs = "!git log --pretty=format:'%s' | cut -d \" \" -f 1 | sort | uniq -c | sort -nr"
    clean-merged = !git branch --merged master | grep -Ev \"(^\\*|^  master$)\" | xargs git branch --delete
    clean-gone = !git fetch --prune && git branch --verbose | awk '/\\[gone]/{print $1}' |  xargs git branch --delete --force

    # Worktrees
    w = worktree
    wa = worktree add
    wl = worktree list
    wr = worktree remove
    wp = worktree prune

    # Difftastic aliases
    dlog = -c diff.external=difft log --ext-diff
    dshow = -c diff.external=difft show --ext-diff
    ddiff = -c diff.external=difft diff
[apply]
    whitespace = nowarn
[github]
    user = lurst
[user]
    name = "Gil Gonçalves"
    email = "lursty@gmail.com"
[color]
    ui = auto
[push]
    default = current
[diff]
    algorithm = histogram
    colorMoved = plain
    compactionHeuristic = true
    noprefix = true
    renames = true
    ; tool = vimdiff
    tool = difftastic
[merge]
    tool = meld
[difftool]
    prompt = false
[core]
    excludesfile = /home/lurst/.gitignore_global
    pager = bat -p
[grep]
    extendRegexp = true
    lineNumber = true
[gui]
    diffcontext = 99

# To do: git clone gh:lurst/hr
[url "git@github.com:"]
    insteadOf = gh:
[rebase]
    autosquash = true
    updateRefs = true
[remote "origin"]
    prune = true
[pull]
    rebase = false
[log]
    follow = true
[submodule]
    recurse = true
[fetch]
    all = true
    prune = true
    pruneTags = true
[rerere]
    enabled = true
    autoupdate = true
