.xdg/.alias_extra
.xdg/vim/.netrwhist
.xdg/fish
.xdg/htop
.xdg/ipython
.xdg/chromium
.xdg/uzbl
.xdg/spacefm
.xdg/gtk-2.0
.xdg/geany
.xdg/Trolltech.conf
.xdg/Thunar
.xdg/xfce4
.xdg/midori
.wmii/history*
