[alias]
    ai = add --interactive
    c = commit -v
    cm = commit -m
    cma = commit -a -m
    ca = commit --amend
    cl = clean -fd
    cp = cherry-pick
    s = status --short -b
    d = diff
    dr = diff -R
    ds = diff --stat
    dc = diff --cached
    dcs = diff --stat --cached
    a = add
    ch = checkout
    b = branch
    l = log --stat
    f = fetch
    r = reset
    p = pull
    wat = blame

    ss = !hr && git status --short -b
    di = "!git diff --color | sed -E \"s/^([^-+ ]*)[-+ ]/\\1/\" | less -r"
    wat = blame

    g = grep --break --heading --line-number
    ups = reset --soft HEAD^
    show-graph = log --graph --abbrev-commit --pretty=oneline
    show-all = log --color=auto --abbrev-commit --graph --pretty=format:\"%h %an @%ar %s\" --all
    show-tags = "log --no-walk --tags --pretty='%h %d %s' --decorate=full"

    verbs = "!git log --pretty=format:'%s' | cut -d \" \" -f 1 | sort | uniq -c | sort -nr"
    curses = "!git log --pretty=format:'%s' | tr '[:upper:]' '[:lower:]' | tr '[:space:]' '\n' | sort | uniq -c | sort -nr | grep -iE '(fuck|shit|bitch|damn|piss)'"
    find = "!git --no-pager log --pretty='format:%H %s %N' | grep '$1'"
    plush = "!git pull && git push"
    remove-deleted-files = "!git ls-files --deleted -z | xargs -0 git rm"

    clean-all = "!git remote prune origin && git prune"
[apply]
    whitespace = nowarn
[github]
    user = lurst
[user]
    name = Gil Gonçalves
    email = lursty@gmail.com
[color]
    ui = auto
[push]
    default = current
[diff]
    tool = vimdiff
[merge]
    tool = meld
[difftool]
    prompt = false
[core]
    excludesfile = /home/lurst/.gitignore_global
[grep]
    extendRegexp = true
    lineNumber = true
[gui]
    diffcontext = 99

# To do: git clone gh:lurst/hr
[url "git@github.com:"]
    insteadOf = gh:
[cola]
	spellcheck = false
