.config/*
!.config/fish
!.config/doom
!.config/vim
.config/vim/.netrwhist
.config/fish/fish_variables
.config/doom/config.el

.wmii/history*
*.so
*.pyc
bin/*
.fonts/
.config/doom/custom.el
dotfiles/.emacs.d/*
