.config/*
!.config/fish
!.config/doom
!.config/nvim
.config/nvim/undo_files
.config/nvim/lazy-lock.json
.config/fish/fish_variables
.config/doom/config.el

.wmii/history*
*.so
*.pyc
bin/*
.fonts/
.config/doom/custom.el
dotfiles/.emacs.d/*
