[submodule ".xdg/vim/bundle/vim-airline"]
	path = .xdg/vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline
[submodule ".xdg/vim/bundle/ctrlp"]
	path = .xdg/vim/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule ".xdg/vim/bundle/ag"]
	path = .xdg/vim/bundle/ag
	url = https://github.com/vim-scripts/ag.vim
[submodule ".xdg/vim/bundle/python-mode"]
	path = .xdg/vim/bundle/python-mode
	url = https://github.com/klen/python-mode
[submodule ".xdg/vim/bundle/vim-fugitive"]
	path = .xdg/vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule ".xdg/vim/bundle/vim-easymotion"]
	path = .xdg/vim/bundle/vim-easymotion
	url = https://github.com/Lokaltog/vim-easymotion
[submodule ".xdg/vim/bundle/tagbar"]
	path = .xdg/vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar
